# Pair Programming Joins and Views

HD Sheets,  February 6, 2025
checked 6/27/2025

Sources

https://www.sqlitetutorial.net/sqlite-join/

Beaulieau, Chapter 5,  Chapter 10,

## Set Up and Connect

In [ ]:
# Libaries

import sqlalchemy

# we will want Pandas for the data frame structure

import pandas as pd

In [ ]:
# Connect to the database
# Alter this to reflect your username and password,   this is for postgres on the same machine

engine=sqlalchemy.create_engine('postgresql://bob:pwd1@localhost:5432/chinook')

In [ ]:
# really just testing the connection, by reading some tables to be sure the connection is working

# this isn't strictly necessary, but I'd rather know now if the connection is working

pd.read_sql_query("SELECT table_name  FROM information_schema.tables LIMIT 15",engine)

# Finding the artist for each album

Suppose we want a list of the artists for each album,   

the album titles are in album, the artist names are in artist.

in album, we have album.artist_id which is the same artist id number as in artist, where it is artist.artist_id,  we can use these in the Join

This is ordered by title

In [ ]:
pd.read_sql_query("""SELECT
                        title,name
                    FROM album
                        INNER JOIN artist ON artist.artist_id =album.artist_id
                ORDER BY title;
                   """
                     ,engine)

# LEFT JOIN

We could also do this with a LEFT JOIN, since every album has an associated artist,  we get the same result as we did with the inner join

In [ ]:
pd.read_sql_query("""SELECT
                        title,name
                    FROM album
                        LEFT JOIN artist ON artist.artist_id =album.artist_id
                    ORDER BY title
                   """
                     ,engine)

# RIGHT JOIN

If we do the same join with a RIGHT JOIN,  I would expect will cause some problems since each artist may have multiple albums

In [ ]:
pd.read_sql_query("""SELECT
                        title,name
                    FROM album
                        RIGHT JOIN artist ON artist.artist_id =album.artist_id
                    ORDER BY title
                   """
                     ,engine)

#CROSS JOIN

creates all possible combinations,  also called a "Cartesian Join"

In the SELECT before we get the first name of each employee, with each possible media type after the employee's name

They can be useful for creating large and varied test sets for use in development

It might be helpful to generate a "grid" of all permutations for calculating over all possible combinations,  for example 4 sales categories over each of 12 months

In [ ]:
pd.read_sql_query("""SELECT employee.first_name, media_type.name mt_name FROM employee
                     CROSS JOIN media_type""",engine)

# Views

A View is the stored output of a query

I haven't figured out how to create a View using SQL Alchemy,  that seems to be an issue

We can do it through the postgress command window

1.) Start the postgres command window and log in as the superuser postgres

2.) Connect to the chinook database

        \connect chinook

3.) Creat a view

        CREATE VIEW enames AS SELECT first_name, last_name FROM employee;
        
4.) Use \dv to see all the viewers, and verify it works

5.) Grant your user access to the view

       GRANT SELECT ON ALL TABLES IN SCHEMA public TO bob;
       
       my user is bob,  you may have a different username
       
       Note: when we set up bob as a user, we granted him SELECT privileges, but when we create new tables or views
       we have to grant it again.    There is a way to change this default setting in postgres, but finding that could be
       a bit of work

6.) We can now treat the View (enames) as though it was a table.
     This can be very helpful if we have a large database and really complex queries to carry out.   The View can simplify this

In [ ]:
pd.read_sql_query("""SELECT *
                     FROM enames;""",engine)

In [ ]:
engine.dispose()